.plus{
    background-image: url("https://i.kym-cdn.com/photos/images/original/000/217/040/48ACD.png");
    background-repeat:no-repeat;
}

.plus.minus{
    background-image: url("https://cdn0.iconfinder.com/data/icons/ie_Bright/128/plus_add_minus.png");

    background-repeat:no-repeat;
}