body {
    background-color: #F8F8FF;
    font-family: Georgia, serif;;
    width: 100%;
    height: 100%;
    margin: 0;
}
#dog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 12px;
}

#patrick {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 12px;
}

.description {
    width: 1000px;
    text-align: center;
    margin: auto;
}


h1 {
    text-align: center;
}

h2 { 
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}
div p{
    text-align: center;
}

.bouldering .title{
    text-align: center;
}

.column {
    display: block;
    float: left;
    width: 40%;
    height: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  } 

.column img{
    width: 60%;
    position:relative;
} 

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.meClimbing {
    width: 56.5%;
} 

iframe {
    display: block;
    margin: auto
}

#bottom {
    text-align: center;
    background-color: #808080;
}